@import url("./css/globale.css");
@import url("./css/login.css");
@import url("./css/navbar.css");
@import url("./css/aside.css");
@import url("./css/menumanagement-page.css");
@import url("./css/sittings.css");
@import url("./css/customer-reviews.css");
@import url("./css/warking-hours.css");
