@import url("./css/globale.css");
@import url("./css/aside.css");
@import url("./css/navbar.css");
@import url("./css/restaurants.css");
@import url("./css/adsmanager.css");
@import url("./css/customers.css");
@import url("./css/drivers.css");
